In [ ]:
!pip install Comments

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Comments in /usr/local/lib/python3.7/dist-packages (1.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from Comments) (2022.6.15)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from Comments) (1.24.3)

In [41]:
from gc import callbacks
from google.colab import drive
import openpyxl
from textblob import TextBlob
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
from sklearn.cluster import MiniBatchKMeans
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA
import nltk
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
dataframe = openpyxl.load_workbook("/content/drive/MyDrive/course_work/Comments.xlsx")
dataframe1 = dataframe.active

In [18]:
df = pd.read_excel('/content/drive/MyDrive/course_work/Comments.xlsx')

In [19]:
df.head()

   comment_id                                            Comment
0           5                             djfjkdfjkjkffdk edited
1          41  Faith has exhibited enthusiasm in taking on th...
2          49  He now has now understood the structure of gra...
3          50  The Intern was oriented on ICT setup and Infra...
4          52  The student was oriented on the organization s...

In [25]:
dataframe1 = dataframe.active

In [32]:
from nltk.corpus import wordnet

def get_wordnet_pos(pos_tag):
    if pos_tag.startswith('ADJ'):
        return wordnet.ADJ
    elif pos_tag.startswith('VERB'):
        return wordnet.VERB
    elif pos_tag.startswith('NOUN'):
        return wordnet.NOUN
    elif pos_tag.startswith('ADV'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [46]:
df.Comment=df.Comment.astype(str)

In [47]:
import string
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer

In [50]:
def clean_data(text):
    text = text.lower()
    text = [word.strip(string.punctuation) for word in text.split(" ")]
    text = [word for word in text if not any(c.isdigit() for c in word)]
    stop = stopwords.words('english')
    text = [x for x in text if x not in stop]
    text = [t for t in text if len(t) > 0]
    pos_tags = pos_tag(text)
    text = [WordNetLemmatizer().lemmatize(t[0], get_wordnet_pos(t[1])) for t in pos_tags]
    text = [t for t in text if len(t) > 1]
    text = " ".join(text)
    return(text)

In [52]:
df["cleaned_data"] = df["Comment"].apply(lambda x: clean_data(x))
df.head()

,comment_id,Comment,cleaned_data
0,5,djfjkdfjkjkffdk edited,djfjkdfjkjkffdk edited
1,41,Faith has exhibited enthusiasm in taking on th...,faith exhibited enthusiasm taking project hand...
2,49,He now has now understood the structure of gra...,understood structure grail different component...
3,50,The Intern was oriented on ICT setup and Infra...,intern oriented ict setup infrastructure sorot...
4,52,The student was oriented on the organization s...,student oriented organization structure develo...

In [31]:
vectorizer = TfidfVectorizer(stop_words='english')

TfidfVectorizer(stop_words='english')

In [57]:
corpus_1 = []
corpus_2 = []

for row in range(1, dataframe1.max_row):
    for col in dataframe1.iter_cols(2, dataframe1.max_column):
        blob = TextBlob(col[row].value)
        sentiment = blob.sentiment.polarity
        # corpus_1.append(comments(sentiment))

        score = ''
        if sentiment >= 0.55 and sentiment <= 1:
            score = "Excellent"
        if sentiment > 0 and sentiment < 0.55:
            score = "Good"
        if sentiment == 0:
            score = "Neutral"
        if sentiment < 0 and sentiment >= -0.55:
            score = "Poor"
        if sentiment < -0.55 and sentiment >= -1:
            score = "Very_Poor"

        corpus_1.append(score)
        corpus_2.append(col[row].value)

vectorizer = TfidfVectorizer(stop_words='english')
corpus_vector = vectorizer.fit_transform(corpus_1)
cluster_number = 5

vectorizer = TfidfVectorizer(analyzer='word')
X = vectorizer.fit_transform(corpus_1)

source = corpus_1
target = []
weight = []
cls = ['Excellent', 'Good', 'Neutral', 'Poor', 'Very Poor']
df2 = pd.DataFrame(X.toarray(),columns=['excellent', 'good', 'neutral', 'poor', 'very_poor'])

cls = MiniBatchKMeans(n_clusters=5, random_state=0)
cls.fit(X)
print(X)

  (0, 2)	1.0
  (1, 1)	1.0
  (2, 2)	1.0
  (3, 3)	1.0
  (4, 1)	1.0
  (5, 2)	1.0
  (6, 2)	1.0
  (7, 0)	1.0
  (8, 2)	1.0
  (9, 0)	1.0
  (10, 1)	1.0
  (11, 3)	1.0
  (12, 1)	1.0
  (13, 1)	1.0
  (14, 2)	1.0
  (15, 2)	1.0
  (16, 1)	1.0
  (17, 1)	1.0
  (18, 2)	1.0
  (19, 2)	1.0
  (20, 1)	1.0
  (21, 1)	1.0
  (22, 0)	1.0
  (23, 2)	1.0
  (24, 2)	1.0
  :	:
  (4922, 1)	1.0
  (4923, 1)	1.0
  (4924, 1)	1.0
  (4925, 2)	1.0
  (4926, 0)	1.0
  (4927, 2)	1.0
  (4928, 1)	1.0
  (4929, 1)	1.0
  (4930, 0)	1.0
  (4931, 1)	1.0
  (4932, 2)	1.0
  (4933, 1)	1.0
  (4934, 1)	1.0
  (4935, 1)	1.0
  (4936, 3)	1.0
  (4937, 1)	1.0
  (4938, 2)	1.0
  (4939, 1)	1.0
  (4940, 1)	1.0
  (4941, 1)	1.0
  (4942, 2)	1.0
  (4943, 1)	1.0
  (4944, 2)	1.0
  (4945, 2)	1.0
  (4946, 2)	1.0